name: CI Pipeline
# Reusable workflows to be called from other workflows
on:
  workflow_call: 
    inputs:
      run_unit_tests:
        description: "Run Unit Tests"
        required: false
        default: true
        type: boolean
      run_build:
        description: "Create Application Image"
        required: false
        default: true
        type: boolean
      run_codeql:
        description: "Run CodeQL Scan"
        required: false
        default: false
        type: boolean
      run_sonarqube:
        description: "Run SonarQube Scan"
        required: false
        default: false
        type: boolean
      run_dockerhub_publish:
        description: "Publish Docker Image to DockerHub"
        required: false
        default: false
        type: boolean
      run_ghcr_publish:
        description: "Publish Docker Image to GHCR"
        required: false
        default: false
        type: boolean
    secrets:
      SONAR_TOKEN:
        required: true
      DOCKERHUB_USERNAME: 
        required: true
      DOCKERHUB_TOKEN: 
        required: true

jobs:
  unit-tests:
    if: ${{ inputs.run_unit_tests }}
    name: Running Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0
      - name: Setup Python
        uses: actions/setup-python@v6.0.0
        with: 
          python-version: '3.10'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Unit Tests
        run: |
          mkdir reports/  
          pytest --junitxml=reports/unit-test-results.xml --cov=. --cov-report=xml:reports/coverage.xml --cov-report=term-missing -v
      - name: upload Code Coverage Report
        uses: actions/upload-artifact@v5.0.0
        with:
          name: unit-test-report
          path: reports/
  codeql:
    if: ${{ inputs.run_codeql }}
    name: CodeQL Security Scan
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write # Required to upload the analysis results
    strategy:
      matrix: 
        language: [ 'python']
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "security"
  sonarqube:
    if: ${{ inputs.run_sonarqube }}
    name: SonarQube
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Download Coverage Report
        uses: actions/download-artifact@v5.0.0
        with:
          name: unit-test-report
          path: reports/
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: SonarQube Quality Gate Check
        uses: SonarSource/sonarqube-quality-gate-action@v1.1.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    if: ${{ always() && inputs.run_build }}
    name: Build Image
    runs-on: ubuntu-latest
    needs: [unit-tests, sonarqube, codeql]
    outputs:
      image-tags: ${{ steps.vars.outputs.IMAGE_TAGS }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3.0.0
      - name: Generate Imafe tags
        id: vars
        run: |
          IMAGE_TAGS="${{ github.run_id }}-${GITHUB_SHA::7}"
          echo "IMAGE_TAGS=$IMAGE_TAGS" >> $GITHUB_OUTPUT
      - name: Build Image (no push)
        uses: docker/build-push-action@v5.0.0
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: thinknyx_app:${{ steps.vars.outputs.IMAGE_TAGS }}
          load: true
      - name: Save Docker Image
        run: docker save thinknyx_app:${{ steps.vars.outputs.IMAGE_TAGS }} -o thinknyx_app.tar
      - name: Upload Docker Image Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: thinknyx_app_image
          path: thinknyx_app.tar
  publish-dockerhub:
    if: ${{ inputs.run_dockerhub_publish }}
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download the Image
        uses: actions/download-artifact@v5.0.0
        with:
          name: thinknyx_app_image
          path: .
      - name: Load Docker Image
        run: docker load -i thinknyx_app.tar
      - name: Docker Login
        uses: docker/login-action@v3 # docker ogin -u DOCKERHUB_USER -p DOCKERHUB_PASSWORD
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Tag Image
        run: |
          IMAGE_TAG="${{ needs.build.outputs.image-tags }}"
          docker image tag thinknyx_app:$IMAGE_TAG ${{ secrets.DOCKERHUB_USERNAME }}/thinknyx_app:$IMAGE_TAG
      - name: Push Image
        run: |
          IMAGE_TAG="${{ needs.build.outputs.image-tags }}"
          docker image push ${{ secrets.DOCKERHUB_USERNAME }}/thinknyx_app:$IMAGE_TAG
  publish-ghcr:
    if: ${{ inputs.run_ghcr_publish }}
    name: Publish to GitHub Container Registry
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
      contents: read
    steps:
      - name: Download the Image
        uses: actions/download-artifact@v5.0.0
        with:
          name: thinknyx_app_image
          path: .
      - name: Load Docker Image
        run: docker load -i thinknyx_app.tar
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # GitHub automatically creates a GITHUB_TOKEN secret to use in your workflow, push to GHCR, Create releaase, add comments, create issues
      - name: Tag Image
        run: |
          IMAGE_TAG="${{ needs.build.outputs.image-tags }}"
          docker image tag thinknyx_app:$IMAGE_TAG ghcr.io/${{ github.repository_owner }}/thinknyx_app:$IMAGE_TAG
      - name: Push Image
        run: |
          IMAGE_TAG="${{ needs.build.outputs.image-tags }}"
          docker image push ghcr.io/${{ github.repository_owner }}/thinknyx_app:$IMAGE_TAG
