name: Run Selenium Tests
on: 
  workflow_call:
    inputs:
      ENVIRONMENT:
        description: 'Deployment Environment (e.g., STAGING, PRODUCTIONd).'
        required: true
        type: string

jobs:        
  run-test:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: github-actions-scaleset-demo
    steps:
      - name: CheckoutCode
        uses: actions/checkout@v5
      - name: Run Selenium Tests
        env: 
          APP_BASE_URL: ${{ vars.APP_BASE_URL }}
        run: |  
          mkdir -p reports
          pytest tests/ --html=reports/selenium-report.html --self-contained-html
      - name: Upload Selenium Test Report
        uses: actions/upload-artifact@v5
        with:
          name: selenium-test-report
          path: reports/
          
